<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Change Password</title>
        <link rel="stylesheet" href="/static/css/layout.css" type="text/css">
        <script src='/static/js/jquery-3.7.1.min.js'></script>
        <script src='/static/js/register.js'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="contentWrapper">
            <h3>Reset Password</h3>
            <!-- Form to enter new password -->
            <div class="authForm">
                <form action="changePassword?user={{ email }}" onsubmit="return validateRegister();" class="auth" method="POST">
                    <input type="hidden" name="email" id="email" value="{{ email }}"><br> <!-- Email is secretly submitted alongside for ease of processing in the backend -->
                    <label for="password">New Password: </label> <br>
                    <input type="password" name="password" id="password" class="loginInput" required minlength="8"><br>
                    <label for="confirmPassword">Confirm Password: </label><br>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="loginInput" required minlength="8"><br>
                    <input type="submit" value="Submit" class="submitAuth">
                </form><br><br><br>
            <!-- Print any issues e.g. passwords do not match -->
            {% for message in get_flashed_messages() %}
                <p class="errorMessage">{{ message }}</p>
            {% endfor %}
        </div>
    </body>
</html>