<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reset Password</title>
        <link rel="stylesheet" href="/static/css/layout.css" type="text/css">
        <script src='/static/js/jquery-3.7.1.min.js'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="contentWrapper">
            <h2>Reset Password</h2>
            <!-- Display any errors -->
            {% for message in get_flashed_messages() %}
                <p class="errorMessage">{{ message }}</p>
            {% endfor %}
            
            <!-- Form to submit email to send password reset to -->
            <div class="authForm">
                <form action="resetPassword" class="auth" method="POST">
                    <label for="email">Enter Email: </label> <br>
                    <input type="email" name="email" id="email" class="loginInput" required><br>
                    <input type="submit" value="Submit" class="submitAuth"><br><br>
                </form>
            </div>
        </div>
    </body>
</html>