<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Log</title>
        <link rel="stylesheet" href="/static/css/layout.css" type="text/css">
        <script src='/static/js/jquery-3.7.1.min.js'></script>
        <script src='/static/js/events.js'></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class="contentWrapper">
            <!--Side navigation bar-->
            <button class="openMenu" type="button" id="openMenu" onclick="openMenu();">&#9776;</button>
            <div class="sideBar" id="menu">
                <a class="closeMenu" onclick="closeMenu()">&times;</a>
                <a class="navLink" href="/myEvents">My Events</a>
                <a class="navLink" href="/allEvents">Upcoming Events</a>
                <a class="navLink" href="/allEvents?past=True">Past Events</a>
                <a class="navLink" href="/notifications">Notifications</a>
                {% if isSuperUser %}
                    <a class="navLink" href="/addEvent">Add Event</a>
                {% endif %}
                <a class="navLink" href="/settings">Settings</a>
                <a class="navLink" href="/logout">Logout</a>
            </div>

            <!-- Display the profile picture -->
            <img class="pfp" alt="Profile Picture" src="{{ pfp }}" name="profilePicture" id="profilePicture">

            <h2>Situation Log</h2>
            <!-- Display log of all actions that happened on the website -->
            <div class="notificationList">
                {% for logItem in log %}
                    <div class="eventListItem" id="{{ logItem.id }}">
                        <p class="dateOutput">{{ logItem.getFormattedDate()[0] }}<br>{{ logItem.getFormattedDate()[1] }}</p>
                        <h3 class="notification">{{ logItem.action }}</h3>
                    </div>
                <!-- Display id no actions have happened -->
                {% else %}
                    <div class="eventListItem">
                        <h3 class="noEvents">No Log Items.</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>